################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EvaluadorTest/v16/Preview/Browse.VC.opendb
